*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Lato";
}
a {
    text-decoration:none;
}    
.logo {
    margin-top: 4px;/* к обсуждению Как определить отступ кроме как высчитывать разницу (верхний отступ минус нижний отступ макета)*/
    margin-left: 13px;
    cursor: pointer;
}    
.header {
    background-color: #333333;
    height: 67px;
    display: flex;
    min-width: 455px;
    
    
}
nav {
    margin-top: 19px;/* как посчитать отступ кроме как на глаз?*/
    margin-left: 28%;
    font-size: 21px;
}
.topnav a {
    color: #fff;
    padding: 28px 16px 23px 16px;/*по какому елементу меню брать падинги? они разные*/
    
}
.topnav a:hover {
background-color: #5cb68c;
}
.menulast {
    border-radius: 6px;/*как радиус определить кроме как на глаз?*/
    border: 1px solid white;
    color:#fff;
    padding: 8 17 8 15;
    font-size: 21px;
    height: 27px;
    margin: 10 20 16 35;
    width: 176px;
}
.topnav .icon {
display: none;
}    

@media screen and (max-width: 1251px) {
    .topnav a{
    display: none;
    }
    .topnav.responsive a{
    float:none;
    display: block;
    text-align: left;
    color: #000;
    }
    .topnav a.icon{
    float: right;
    display:block;
    font-size: 38px;
    padding: 0;
    margin-top: -12px;
    }
    .topnav.responsive a.icon{
    position: absolute;
    top: -50px;
    right: -41px;
    color: #fff;
    font-size: 38px;
    }
    nav {
    margin-left: 10px;
    z-index: 1;
    
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -140px;
    }
}
.submenu {
    border-bottom: 1px solid #f0f0f0;
    display:flex;
}
.submenu a{
    margin: 26 10;
    position: relative;
    left: 150px;
    
}
.submenu a:hover { /* тут ховер, потому что как я понял эта подсветка делается с jQuery*/
    color: green;
}
@media screen and (max-width: 675px) {
    .submenu a{
    margin: 26 4;
    position: relative;
    left: 0px;
    padding-left: 11px;
    }
}    
.maintext {
    position: relative;
    
    display: flex;
    flex-direction: column;
    padding: 0 160px;
}
@media screen and (max-width: 675px) {
    .maintext {
        padding: 0 11px;
    }
}
.maintext h1 {

    margin: 35 0 25;
}
.maintext li {
    color: #000;
    list-style-position: inside;
    font-size: 20px;
}
.mainright {
    position: absolute;
    top: 100px;
    width: 688px;
    line-height: 24px;
    left: 380px;
    padding-left: 160px;
}
.clients {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1073px;
}
.clients img {
    margin: 0 30 30 0;
    vertical-align: middle;
}
@media screen and (max-width: 1250px) {
    .clients {
        width: 100%;
    }
    .mainright {
        position: relative;
        padding: 20 0 0 0;
        width: 100%;
        left: 0;
        top: 0;
    }
}
.showcase {
    width: 100%;
    max-width: 1366px;
}
.showcase div:nth-last-child(1):nth-child(odd) { width: 100%;}
.case1 {
    background-color: #332833; 
    background: rgba(51,40,51,0) url(../img/1back.png);
    background-position: center;
    height: 390px;
    width: 50%;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.case1:hover, .case2:hover, .case3:hover, .case4:hover {
    background-color: rgba(42, 28, 71, 0.631);
}
.case1:before, .case2:before, .case3:before, .case4:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
}
.case2 {
    background-color: #1d967e; 
    height: 390px;
    width: 50%;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.case2 figcaption {
    padding-top: 8px;
}
.case3 {
    background-color: #e3162c; 
    height: 390px;
    width: 50%;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.case3 figcaption {
    padding-top: 16px;
}
.case4 {
    background-color: #86ae38; 
    height: 390px;
    width: 50%;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.white {
    color: white;
    z-index: 1;
}
@media screen and (max-width: 2254px) {
    .maintext {
        max-width: 1073px;
        margin: 0 auto;
    }
    .submenu {
        max-width: 1073px;
        margin: 0 auto;
    }
    .submenu a {
        left: 0;
    }
    .showcase {
        margin: 0 auto;
    }
}
